<table class="table table-striped table-condensed table-responsive"
    data-construct-display-name="<%= construct_name %>"
    data-construct-safe-name="<%= attributize(construct_name) %>">
    <caption>
        <h3 class="text-primary">
            <%= construct_name %>
        </h3>

        <span>
            <strong>Usage:</strong>
        </span>
        <!-- Split button -->
        <div class="btn-group">
          <button type="button" data-toggle="dropdown" aria-expanded="false" style="width: 125px;"
                    class="construct-usage-dropdown btn btn-xs btn-<%= attributize(construct['use']) %> dropdown-toggle">
              <span class="use-info">
                  <%= construct['use'] %>
              </span>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" class="construct-usage-changer" data-usage="<%= SchemaProfiler::USAGE_MUST %>">
                    <%= SchemaProfiler::USAGE_MUST %>
                </a>
            </li>
            <li>
                <a href="#" class="construct-usage-changer" data-usage="<%= SchemaProfiler::USAGE_SHOULD %>">
                    <%= SchemaProfiler::USAGE_SHOULD %>
                </a>
            </li>
            <li>
                <a href="#" class="construct-usage-changer" data-usage="<%= SchemaProfiler::USAGE_MAY %>">
                    <%= SchemaProfiler::USAGE_MAY %>
                </a>
            </li>
            <li>
                <a href="#" class="construct-usage-changer" data-usage="<%= SchemaProfiler::USAGE_SHOULD_NOT %>">
                    <%= SchemaProfiler::USAGE_SHOULD_NOT %>
                </a>
            </li>
            <li>
                <a href="#" class="construct-usage-changer" data-usage="<%= SchemaProfiler::USAGE_MUST_NOT %>">
                    <%= SchemaProfiler::USAGE_MUST_NOT %>
                </a>
            </li>
          </ul>
        </div>
    </caption>

    <% if construct.has_key?("attributes") || construct.has_key?("fields") %>
        <caption class="hidden-notice" style="<%= 'display:none;' if SchemaProfiler::USAGE_MUST_NOT != construct['use'] %>">
            Table hidden because construct is marked <strong>"<%= SchemaProfiler::USAGE_MUST_NOT %>"</strong>
        </caption>
        <thead style="<%= 'display:none;' if SchemaProfiler::USAGE_MUST_NOT == construct['use'] %>">
            <tr>
                <th style="min-width: 300px; width: 300px;">Name</th>
                <th style="width: 500px; min-width: 500px;">Type</th>
                <th style="width: 125px; min-width: 125px;">Usage</th>
            </tr>
        </thead>
    <% elsif construct.has_key?("is_vocab") && construct['is_vocab'] %>
        <caption class="empty-notice"><em>Vocabs have no fields or attributes to show...</em></caption>
    <% else %>
        <caption class="empty-notice"><em>This construct has no fields or attributes in the profile...</em></caption>
    <% end %>
        <% if construct.has_key?("attributes") %>
            <tbody style="<%= 'display:none;' if SchemaProfiler::USAGE_MUST_NOT == construct['use'] %>">
                <tr class="active mono"><td colspan="3"><em><strong>Attributes</strong></em></td></tr>
                <% construct["attributes"].each_with_index do |attrb, idx| %>
                    <tr class="<%= attrb['use'].downcase().gsub(" ", "-") %>">

                        <td>@<%= attrb['name'] %></td>
                        <td><code><%= attrb['type'] %></code></td>
                        <td>
                            <select class="attr-usage-selector form-control" data-attr-name="<%= attrb['name'] %>" data-idx="<%= idx %>">
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_MUST %> value="<%= SchemaProfiler::USAGE_MUST %>"><%= SchemaProfiler::USAGE_MUST %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_SHOULD %> value="<%= SchemaProfiler::USAGE_SHOULD %>"><%= SchemaProfiler::USAGE_SHOULD %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_MAY %> value="<%= SchemaProfiler::USAGE_MAY %>"><%= SchemaProfiler::USAGE_MAY %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_SHOULD_NOT %> value="<%= SchemaProfiler::USAGE_SHOULD_NOT %>"><%= SchemaProfiler::USAGE_SHOULD_NOT %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_MUST_NOT %> value="<%= SchemaProfiler::USAGE_MUST_NOT %>"><%= SchemaProfiler::USAGE_MUST_NOT %></option>
                            </select>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        <% end %>
        <% if construct.has_key?("fields") %>
            <tbody style="<%= 'display:none;' if SchemaProfiler::USAGE_MUST_NOT == construct['use'] %>">
                <tr class="active mono"><td colspan="3"><em><strong>Fields</strong></em></td></tr>
                <% construct["fields"].each_with_index do |elem, idx| %>
                    <tr class="<%= elem['use'].downcase().gsub(" ", "-") %>">
                        <td><%= elem['name'] %></td>
                        <td><code><%= elem['type'] %></code></td>
                        <td>
                            <select class="field-usage-selector form-control" data-field-name="<%= elem['name'] %>" data-idx="<%= idx %>">
                                <option <%= "selected" if elem['use'] == SchemaProfiler::USAGE_MUST %> value="<%= SchemaProfiler::USAGE_MUST %>"><%= SchemaProfiler::USAGE_MUST %></option>
                                <option <%= "selected" if elem['use'] == SchemaProfiler::USAGE_SHOULD %> value="<%= SchemaProfiler::USAGE_SHOULD %>"><%= SchemaProfiler::USAGE_SHOULD %></option>
                                <option <%= "selected" if elem['use'] == SchemaProfiler::USAGE_MAY %> value="<%= SchemaProfiler::USAGE_MAY %>"><%= SchemaProfiler::USAGE_MAY %></option>
                                <option <%= "selected" if elem['use'] == SchemaProfiler::USAGE_SHOULD_NOT %> value="<%= SchemaProfiler::USAGE_SHOULD_NOT %>"><%= SchemaProfiler::USAGE_SHOULD_NOT %></option>
                                <option <%= "selected" if elem['use'] == SchemaProfiler::USAGE_MUST_NOT %> value="<%= SchemaProfiler::USAGE_MUST_NOT %>"><%= SchemaProfiler::USAGE_MUST_NOT %></option>
                            </select>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        <% end %>
</table>
