<table class="table table-striped table-hover table-condensed" data-idx="<%= index %>">
    <thead>
        <tr>
            <th colspan="3" class="text-danger">
                <%= construct["name"] %>
            </th>
        </tr>
        <tr>
            <th>Name / Type</th>
            <th style="width: 150px;">Usage</th>
        </tr>
    </thead>
        <% if construct.has_key?("attributes") %>
            <tbody data-key="attributes">
                <% construct["attributes"].each_with_index do |attrb, attrb_idx| %>
                    <% case attrb['use']
                        when SchemaProfiler::USAGE_PROHIBITED %><tr class="danger">
                        <% when SchemaProfiler::USAGE_OPTIONAL %><tr class="warning">
                        <% when SchemaProfiler::USAGE_SUGGESTED %><tr class="info">
                        <% when SchemaProfiler::USAGE_REQUIRED %><tr class="success">
                    <% end %>
                        <td>@<%= attrb['name'] %><br/><code><%= attrb['type'] %></code></td>
                        <td data-idx="<%= attrb_idx %>">
                            <select class="usage-selector form-control" data-key="use">
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_REQUIRED %> value="<%= SchemaProfiler::USAGE_REQUIRED %>"><%= SchemaProfiler::USAGE_REQUIRED %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_SUGGESTED %> value="<%= SchemaProfiler::USAGE_SUGGESTED %>"><%= SchemaProfiler::USAGE_SUGGESTED %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_OPTIONAL %> value="<%= SchemaProfiler::USAGE_OPTIONAL %>"><%= SchemaProfiler::USAGE_OPTIONAL %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_PROHIBITED %> value="<%= SchemaProfiler::USAGE_PROHIBITED %>"><%= SchemaProfiler::USAGE_PROHIBITED %></option>
                            </select>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        <% end %>
        <% if construct.has_key?("elements") %>
            <tbody data-key="elements">
                <% construct["elements"].each_with_index do |attrb, attrb_idx| %>
                    <% case attrb['use']
                        when SchemaProfiler::USAGE_PROHIBITED %><tr class="danger">
                        <% when SchemaProfiler::USAGE_OPTIONAL %><tr class="warning">
                        <% when SchemaProfiler::USAGE_SUGGESTED %><tr class="info">
                        <% when SchemaProfiler::USAGE_REQUIRED %><tr class="success">
                    <% end %>
                        <td><%= attrb['name'] %><br/><code><%= attrb['type'] %></code></td>
                        <td data-idx="<%= attrb_idx %>">
                            <select class="usage-selector form-control" data-key="use">
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_REQUIRED %> value="<%= SchemaProfiler::USAGE_REQUIRED %>"><%= SchemaProfiler::USAGE_REQUIRED %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_SUGGESTED %> value="<%= SchemaProfiler::USAGE_SUGGESTED %>"><%= SchemaProfiler::USAGE_SUGGESTED %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_OPTIONAL %> value="<%= SchemaProfiler::USAGE_OPTIONAL %>"><%= SchemaProfiler::USAGE_OPTIONAL %></option>
                                <option <%= "selected" if attrb['use'] == SchemaProfiler::USAGE_PROHIBITED %> value="<%= SchemaProfiler::USAGE_PROHIBITED %>"><%= SchemaProfiler::USAGE_PROHIBITED %></option>
                            </select>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        <% end %>
</table>
